.main_body{
    height: 425px;
    width: 350px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 5px;
    background-color: #353535;
}
.display{
    height: 100px;
    border: 1px solid black;
    width: 337px;
    margin: 5px;
    border-radius: 5px;
    background-color: #272727;
    color: white;
    font-size: 30px;
}
.display span{
    float: right;
    height: 30px;
    width: auto;
    margin-top: 32px;
    margin-right: 3px;
}
.input_sec{
    height:307px;
    width: 337px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    background-color: #1E1E1E;
}
.input_sec button{
    height: 55px;
    width: 75px;
    margin: 3px;
    color: white;
    background-color: #7030DD;
    font-size: 20px;
    font-weight: 600;
}
.input_sec button:hover {
    background-color:white;
    color: black;
}
#equalSign{
    margin-left: 128px;
}